.main {
    height: 60vh;
    width: 100%;
   
    background: transparent;
    border-radius: 100px 90px;
    
    border-left: none;
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom: 10px solid rgb(153, 8, 8);
   

 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 60px;
    letter-spacing: 10px;
     
    
    

    &:hover {
        color: black;
        border: none;
        
        transform: rotateX(120'angle');
    }

}

h2{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: monospace;

}
}