.header {
   height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
   
    .logo-container {
      height: 100%;
      width: 40px;
     }

  
    .options {
    
      text-decoration: none;
      font-size: 22px;
      color: rgb(7, 0, 0);
      gap: 10px;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      color: white;
    
      cursor: pointer;

      &:hover{
           color: black;
      }
       @media (max-width: 600px) {
         color: white;
         display: flex;
        font-size: 15px;
         gap: 5px;
         font-weight: 900;
         font-family: monospace;
       }
    
  
      .option {
        text-decoration: none;
        font-size: 22px;
      color: rgb(255, 255, 255);
  
      font-family: monospace;
      background-color: white;
      color: black;
      margin: 0 10px;
      display: flex;
      align-items: center;
     justify-content: space-around;
     border: 2px solid rebeccapurple;
      cursor: pointer;
        padding: 10px 15px;
      }
      .no{
        text-decoration: none;
        font-size: 22px;
      color: rgb(255, 255, 255);
  
      font-family: monospace;
      background-color: black;
      color: white;
      margin: 0 10px;
      display: flex;
      align-items: center;
     justify-content: space-around;
     border: 2px solid rebeccapurple;
      cursor: pointer;
        padding: 10px 15px;
       
      }
    }
  }
  